body{margin: 0;
padding: 0;
border: 0;
text-decoration: none;
background-color:#fbfbfd;
overflow-x: hidden;}

p{padding: 0; margin: 0; line-height: 1.5;}

/* topo do site */
.header{ background-color:#333333;
  height: 33px;
  width: 100%; 
  position: fixed;
  opacity: 1;}

  .nav{justify-content: space-between; 
    margin: auto; 
    display: flex; width: 60vw;}
  
  .menu{color: white ; 
  font-size: 14px ; 
  margin: auto;
  text-decoration: none; text-decoration: white; }
  .menu:hover{color: white;}

  .menu-icon{color: white ; 
    font-size: 16px ; 
    margin: auto;
    text-decoration: none;}
  
  .menu-icon:hover{color: white;}

  /* sessão barra cinza */
  .compre{text-decoration: none;}
  
  .linha1{ background-color:#f5f5f7;
 height: 15px; padding: 30px 0px 30px; font-size: 13px; text-align: center; width: 100%;}

 /* sessão iphone */
 .iphone{ text-align: center; 
  text-decoration: none;
  padding-top: 80px; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px; 
  background-color: #fbfbfd;}

.iphone12{ text-align: center; text-decoration: none; font-size: 20px;}

.ip-12{ font-size: 25px; padding-bottom: 10px;}

/* sessão ipad */
.ipad-pro{ text-align: center; 
  text-decoration: none;
  padding-top: 80px; 
  font-family: 'Fjalla One', sans-serif;
font-size: 45px; 
background-color: black; color: white;}

.ipad{ text-align: center; text-decoration: none; font-size: 20px;}

.ipad-1{ font-size: 25px; padding-bottom: 10px;}

/* sessão mac */
.mac-pro{ text-align: center; 
  text-decoration: none;
  padding-top: 80px; 
  font-family: 'Fjalla One', sans-serif;
font-size: 40px; 
background-color: #fbfbfd;}

.imac{font-size: 50px;}
.mac-1{ font-size: 25px; padding-bottom: 10px;}
.mac-2{ font-size: 17px; color: gray;}

.mac{ text-align: center; text-decoration: none; font-size: 20px;}

/* modificação nas row */
.linha{width: 100%;}

/* sessão iphone12 */
.ip12-pro{ text-align: center; 
  text-decoration: none;
  padding-top: 80px; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 36px; 
  background-color:black; 
  color: white;}

.ip12-1{ font-size: 25px; padding-bottom: 10px;}
.ip12-2{ text-align: center; text-decoration: none; font-size: 20px;}
/* cores  */
.relogio{ text-align: center; 
  text-decoration: none;
  padding-top: 80px; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px; 
  background-color: #fbfbfd; 
  color: black;}

.relog-1{ font-size: 25px; padding-bottom: 10px;}
.relog-2{ text-align: center; text-decoration: none; font-size: 17px; line-height: 0,5;}

/* mão */
.mao{ text-align: center; 
  text-decoration: none;
  padding-top: 80px; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px; 
  background-color:#fbfbfd; 
  color: black;}

.mao-1{ font-size: 20px; padding-bottom: 10px; color: gray;}
.mao-2{ text-align: center; text-decoration: none; font-size: 20px;}

/* ONE */
.one{ text-align: center; 
  text-decoration: none;
  padding-top: 80px; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px; 
  background-color:#fbfbfd; 
  color: black;}

.one-1{ font-size: 20px; padding-bottom: 10px; color: gray; line-height: 0.8;}
.one-2{ text-align: center; text-decoration: none; font-size: 20px;}
/* SÉRIES */
.series{ text-align: center; 
  text-decoration: none;
  padding-top: 80px; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px; 
  background-color: black; 
  color: white; 
}

.seri-1{ font-size: 21px; padding-bottom: 20px; color:white; line-height: 0.8;}
.seri-2{ text-align: center; text-decoration: none; font-size: 21px; color: white;}
.seri-2:hover{color: white;}

/* RODAPÉ */

.rodape{ background-color:#f5f5f7;
  height: 30vw;
  width: 100%; opacity: 3;}
.info{width: 80vw;margin: auto; border-bottom: 1px solid  gray;height: 22vh; padding-top: 25px;}
.info-1{ font-size: 13px;}
/* item do rodapé */
.lista{margin: auto; padding-top: px; width: 80vw;}
.list-item{ padding-top: 15px; text-decoration: none;}
.item-1{color: black; font-size: 12px;}
.lista1{ list-style: none; color: grey; font-size: 12px;}





